.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-snap-align: start;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 1px blue; */
  flex-direction: column;
  gap: 2rem;
  height: inherit;
  width: inherit;
  overflow: hidden;
}

.title {
  font-size: 2rem;
}

.description {
  color: #00000080;
}

.img {
  max-width: 50%;
  max-height: 30%;
}

.content {
  line-height: 2rem;
  padding: 0 2rem;
  max-width: 800px;
  text-align: center;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
