@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&family=Poppins&display=swap");

:root {
  font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #0f0e17;
  }
}

html,
body,
#__next,
main {
  height: 100%;
}
